body {
        color: rgb(255, 255, 255);
        background: linear-gradient(to right, pink, skyblue);
    }
div{
	text-align: left;
}
.xuandan,
.xianshi{
	width: 200px;
	height: auto;
	margin-left: 6.25rem;
}
.main{
	position: relative;
	display: flex;
	width: 1050px;
	height: 600px;
	color: rgb(255, 255, 255);
	margin: auto;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
}

textarea{
	width: 26.25rem;
	height: 400px;
	font-size: 13px;
	background: linear-gradient(to top, pink, skyblue);
	color: rgb(255, 255, 255);
	resize: none;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
}

